<footer>
    <div class="about">
        <h2>About Us</h2>
        <a href="#" id="about_left"><img src="/image/logo.jpg" alt=""></a>
        <p id="about_right">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            Laboriosam, modi, Impedit, dorlorres</p>
    </div>
    <div class="contact">
        <h2>Contact</h2>
        <p><span>Email:</span> hoanglinhhl05@gmail.com</p>
        <p><span>Tel:</span> 0973697807</p>
    </div>
    <div class="link">
        <p>zmisthemes %copy; All right Reserved</p>
    </div>
</footer>